.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/loader.gif') 50% 50% no-repeat white;
	background-color: #621FF5;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.minha-fonte{
	font-family: 'Alata', sans-serif;
}

.cor{
	background: #03DAC6;
}

.cor-meio{
	background: #018786;
}
